{% extends "layout2.html" %}
{% from "macros/forms.html" import render_input, render_image_input %}

{% block page_title %}Categorías de productos{% endblock %}
{% block card_title %}Agregar categoría{% endblock %}

{% block content %}

<form method="POST" enctype="multipart/form-data">

    {{ form.hidden_tag() }}

    {{ render_input(form.nombre) }}
    {{ render_input(form.descripcion) }}

    <div class="mb-5">
        {{ render_image_input(form.foto, imagen) }}
    </div>

    <div class="flex gap-4 mt-6">
        {{ form.submit(class="btn btn-primary") }}

        <a href="{{ url_for('categorias_productos.inicio') }}"
           class="btn btn-outline">
            Regresar
        </a>
    </div>

</form>

{% endblock %}