MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD="tu_app_password"
MAIL_DEFAULT_SENDER=tu_correo@gmail.com
MAIL_USE_TLS=true
MAIL_USE_SSL=false
OTP_EXPIRATION_MINUTES=10
AZURE_OPENAI_ENDPOINT=https://tu-recurso.openai.azure.com/
AZURE_OPENAI_API_KEY=tu_api_key_de_azure_openai
AZURE_OPENAI_REALTIME_DEPLOYMENT=gpt-4o-mini-realtime-preview
AZURE_OPENAI_REALTIME_VOICE=alloy
AZURE_OPENAI_REALTIME_REGION=eastus2
AZURE_OPENAI_ASSISTANT_DEPLOYMENT=gpt-4o
AZURE_OPENAI_VISION_DEPLOYMENT=gpt-4o
AZURE_SPEECH_KEY=tu_speech_key
AZURE_SPEECH_REGION=eastus
AZURE_SPEECH_VOICE=es-MX-DaliaNeural
