{% extends 'base.html' %}
{% block title %}Detalle Producción{% endblock %}

{% block content %}

<h1 class="text-2xl font-bold text-[#7a5d47] mb-6">
    Reporte de merma
</h1>

<form method="POST" class="bg-white p-6 rounded-xl shadow w-2/3">

    <div class="grid grid-cols-2 gap-4 mb-4">

        <select name="insumo" class="p-2 border rounded-lg">
            <option>Insumo afectado</option>
            {% for i in insumos %}
                <option value="{{ i.id }}">{{ i.nombre }}</option>
            {% endfor %}
        </select>

        <input type="number" name="cantidad"
            placeholder="Cantidad de merma extra"
            class="p-2 border rounded-lg">

        <input type="text" name="observacion"
            placeholder="Observación (obligatoria)"
            class="p-2 border rounded-lg col-span-2">

    </div>

    <div class="flex gap-4">
        <button class="bg-[#7a5d47] text-white px-6 py-2 rounded-lg">
            Guardar
        </button>

        <a href="{{ url_for('produccion.inicio') }}"
           class="bg-[#c49a6c] px-6 py-2 rounded-lg text-white">
            Cancelar
        </a>
    </div>

</form>

{% endblock %}