{% extends "layout2.html" %}
{% block page_title %}Producción{% endblock %}
{% block card_title %}Cancelar producción{% endblock %}


{% block content %}

<div >

    <h2 class="text-xl font-bold text-[#7a5d47] mb-4">
        ¿Cancelar producción?
    </h2>

    <p class="mb-6 text-gray-600">
        Esta acción cambiará el estado a CANCELADO.
    </p>

    <form method="POST" >

    <div class="grid grid-cols-2 gap-4 mb-4">

        <input type="number" name="cantidad" min="1"
            placeholder="Cantidad de merma extra"
            class="p-2 border rounded-lg" required>

        <input type="text" name="observacion"
            placeholder="Observación (obligatoria)"
            class="p-2 border rounded-lg" required>

    </div>

    <div class="flex gap-4">
        <button class="btn btn-primary">
            Guardar
        </button>

        <a href="{{ url_for('produccion.inicio') }}"
           class="btn btn-outline">
            Cancelar
        </a>
    </div>

</form>

</div>

{% endblock %}