{% extends "layout2.html" %}
{% from "macros/forms.html" import render_input %}

{% block page_title %}Inventario de productos{% endblock %}
{% block card_title %}Editar Inventario Producto{% endblock %}
{% block content %}


<div >

<form method="POST">
{{ form.hidden_tag() }}

<div class="grid grid-cols-2 gap-4">

    <!-- PRODUCTO -->
    <div>
        <label class="text-sm">Producto</label>
        <input type="text" value="{{ inventario.producto_nombre }}"
            class="w-full border px-3 py-2 rounded-lg" disabled>
    </div>

    <!-- CANTIDAD -->
     <div>
    <label class="text-sm">Cantidad actual</label>
    <input type="text" value="{{ inventario.cantidad_actual }}"
        class="w-full border px-3 py-2 rounded-lg bg-gray-100" disabled>
    </div>
    {{ render_input(form.cantidad_producto) }}

        <!-- MOTIVO (SELECT) -->
    {{ render_input(form.tipo_movimiento) }}

<!-- OBSERVACIONES -->
    {{ render_input(form.observaciones) }}


</div>

<div >

    <button class="btn btn-primary">
        Guardar
    </button>

    <a href="{{ url_for('inventario_productos.inicio') }}"
        class="btn btn-outline">
        Regresar
    </a>

</div>

</form>

</div>

{% endblock %}